html {
  background: #eee;
}

body {
  width: 800px;
  margin: 40px auto;
  font-size: 14px;
  font-family: -apple-system, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  line-height: 1.5;
  color: #131313;
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding-left: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 2em;
}

p + p {
  padding-top: 4px;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-half {
  float: left;
  width: 50%;
  display: inline-block;
}

.float-one-third {
  float: left;
  width: 33.33%;
  display: inline-block;
}

.float-right {
  float: right;
  display: inline-block;
}

.normal-weight {
  font-weight: normal;
  color: #444;
}

.flex {
  display: flex;
}
